altgraph==0.17.4
certifi==2025.10.5
charset-normalizer==3.4.4
et-xmlfile==2.0.0
idna==3.11
macholib==1.16.3
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
pip==25.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyqtgraph==0.13.7
pyside6==6.8.2.1
pyside6-addons==6.8.2.1
pyside6-essentials==6.8.2.1
pyside6-qtads==4.3.1.4
requests==2.32.5
setuptools==80.9.0
shiboken6==6.8.2.1
urllib3==2.5.0
