name: Build and Release

on:
  push:
    tags:
      - '*'

  workflow_dispatch:

permissions:
  packages: write
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: windows-latest
            arch: x86
          - os: macos-latest
            arch: arm64
          - os: macos-15-intel
            arch: x64

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run build script (Windows)
      if: runner.os == 'Windows'
      run: .\build.bat

    - name: Run build script (macOS/Linux)
      if: runner.os != 'Windows'
      shell: bash
      run: bash ./build.sh

    - name: Archive Release Asset (Windows)
      if: runner.os == 'Windows'
      run: Compress-Archive -Path ./dist/RnSApp -DestinationPath ./dist/RnSApp_${{ runner.os }}_${{ matrix.arch }}_${{ github.ref_name }}.zip

    - name: Archive Release Asset (macOS)
      if: runner.os == 'macOS'
      shell: bash
      run: |
        cd dist
        if [ -d "RnSApp.app" ]; then
          zip -r RnSApp_${{ runner.os }}_${{ matrix.arch }}_${{ github.ref_name }}.zip RnSApp.app
        else
          zip -r RnSApp_${{ runner.os }}_${{ matrix.arch }}_${{ github.ref_name }}.zip RnSApp
        fi
        ls -l

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: RnSApp_${{ runner.os }}_${{ matrix.arch }}_${{ github.ref_name }}
        path: |
          ./dist/RnSApp_${{ runner.os }}_${{ matrix.arch }}_${{ github.ref_name }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download Artifacts (all OS)
      uses: actions/download-artifact@v4
      with:
        pattern: RnSApp_*_${{ github.ref_name }}
        merge-multiple: true

    - name: List contents
      run: ls -l .
      shell: bash

    - name: Create Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          RnSApp_Windows_x86_${{ github.ref_name }}.zip
          RnSApp_macOS_arm64_${{ github.ref_name }}.zip
          RnSApp_macOS_x64_${{ github.ref_name }}.zip
